@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", Courier, monospace;
}
.ant-radio-group-solid
  :where(
    .css-dev-only-do-not-override-161f05s
  ).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background-color: #5f61e6;
}

.ant-radio-group-solid
  :where(
    .css-dev-only-do-not-override-161f05s
  ).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background-color: #5f61e6;
}

.ant-radio-group-solid
  :where(
    .css-dev-only-do-not-override-161f05s
  ).ant-radio-button-wrapper-checked:not(
    .ant-radio-button-wrapper-disabled
  ):hover {
  background-color: #5f61e6;
}

.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
  background-color: #5f61e6 !important;
  border-color: #5f61e6 !important;
}

.ant-menu-item.ant-menu-item-selected,
:where(.css-dev-only-do-not-override-161f05s).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-161f05s).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  background-color: #5f61e6 !important;
  color: white;
}

::-webkit-scrollbar {
  width: 8px; /* Make the scrollbar thinner */
  height: 8px; /* If there's a horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f5f5f5; /* Background color of the track */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Color of the scrollbar handle */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3; /* Color on hover */
}

:where(.css-dev-only-do-not-override-161f05s).ant-menu-light
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-161f05s).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title {
  color: #5f61e6;
}
